workflows/02-progetto1/progetto1.json
{
  "name": "Progetto1",
  "description": "Form che riceve un'immagine e un prompt, chiama Gemini 2.5 Flash Image per generare una nuova immagine e la salva su Google Drive.",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Progetto1",
        "formDescription": "Inserire una fotografia e un prompt",
        "formFields": {
          "values": [
            { "fieldLabel": "Carica immagine", "fieldType": "file", "requiredField": true },
            { "fieldLabel": "Inserisci testo", "requiredField": true }
          ]
        },
        "options": {}
      },
      "id": "463a2320-92e5-4ab7-935a-24d3f1d72ba3",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [-240, 0],
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "Carica_immagine",
        "options": {}
      },
      "id": "9af72c05-98e6-45f0-81da-179e7abe47c4",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [-32, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $('On form submission').item.json['Inserisci testo'] }}\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('On form submission').item.json['Carica immagine'][0].mimetype }}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\"IMAGE\", \"TEXT\"]\n  }\n}",
        "options": {}
      },
      "id": "3ec059c1-e839-4b55-b2a9-e4598800b196",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 3 },
          "conditions": [
            {
              "id": "ba9f48c7-0e29-4287-8af3-2e1c92546dc8",
              "leftValue": "={{ $json.candidates[0].content.parts[1].inlineData.data }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [448, 0],
      "id": "92c55811-4f5b-46c6-aed0-d59559703266",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "41578130-cfee-4959-bd18-179892d86767",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [720, -16]
    },
    {
      "parameters": {
        "name": "=Immagine_{{ $now.toFormat('ddMMyyyy_HHmm') }}.png",
        "driveId": { "__rl": true, "mode": "list", "value": "My Drive" },
        "folderId": { "__rl": true, "value": "YOUR_DRIVE_FOLDER_ID", "mode": "id" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [976, -16],
      "id": "a03f460d-aca8-449c-8630-cc9be881fa70",
      "name": "Upload file"
    },
    {
      "parameters": {
        "errorMessage": "={{ \"Gemini non ha restituito un'immagine. Risposta: \" + $('HTTP Request').item.json.candidates[0].content.parts[0].text }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [720, 224],
      "id": "287c920b-9b0c-454b-b937-aae44f47a103",
      "name": "Stop and Error"
    }
  ],
  "connections": {
    "On form submission": { "main": [[{ "node": "Extract from File", "type": "main", "index": 0 }]] },
    "Extract from File": { "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]] },
    "HTTP Request": { "main": [[{ "node": "If", "type": "main", "index": 0 }]] },
    "If": {
      "main": [
        [{ "node": "Convert to File", "type": "main", "index": 0 }],
        [{ "node": "Stop and Error", "type": "main", "index": 0 }]
      ]
    },
    "Convert to File": { "main": [[{ "node": "Upload file", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "meta": {
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": false
  }
}
